#about__main__pic{
    background-image: url(Assets/banners/GreccoBanner.jpg);
    height: 100vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 40% right 60%;
}

#historia{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 5em 5em 5em;
}

#titulo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5em;
  padding-top: 5em;
  font-weight: 700;
  font-size: 1.75rem;
}

.historia__artigo{
  margin: 4em;
  justify-content: center;
  text-align: justify;
}

.historia__img{
  height: 30em;
  width: auto;
  margin: 3em;
}

#nossa__loja{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5em;
  padding-top: 5em;
  font-weight: 700;
  font-size: 1.75rem;
}

#mapas{
  display: flex;
  gap: 5em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5em;
}

#mapas h3{
  text-align: center;
  padding-bottom: 2em;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
#historia {
    padding: 1.5em 1em 3em 1em; /* Ajuste os valores conforme necessário */
}

#titulo {
    font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.historia__artigo {
    margin: 2em; /* Ajuste a margem conforme necessário */
}

.historia__img {
    height: auto;
    max-width: 100%; /* A imagem se ajustará automaticamente ao tamanho da tela */
    margin: 1em; /* Ajuste a margem conforme necessário */
}

#nossa__loja {
    font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */
}

#mapas {
    gap: 1em; /* Ajuste o espaçamento entre elementos conforme necessário */
}

#mapas h3 {
    font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */
}
  }
  